@import '../bower_components/swiper/dist/idangerous.swiper.css';
.navbar {
  background: #fff;
  border: none;
  position: fixed;
  top: 0;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 70px;
  font-weight: 800;
  color: #ef5123;
  display: inline-block;
  float: none;
}
.navbar .tagline {
  font-family: 'din-condensed-web', sans-serif;
  color: #19adac;
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
}
.navbar .tagline span {
  white-space: nowrap;
  display: block;
}
.navbar .navbar-right {
  font-family: 'din-condensed-web', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}
.navbar .navbar-nav {
  margin-top: 17px;
}
.navbar .navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.navbar .navbar-nav > li a {
  color: #654738;
}
.container-fluid {
  padding: 0;
}
.container-fluid.main {
  padding-top: 80px;
}
.swiper-container {
  height: 530px;
  overflow: auto;
}
.swiper-slide {
  width: 100%;
  position: relative;
}
.swiper-slide h2 {
  text-align: center;
  line-height: 55px;
  padding-top: 150px;
  color: #fff;
  margin-bottom: 50px;
}
.swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.boxes {
  width: 315px;
  float: right;
}
.boxes .box {
  height: 315px;
  width: 100%;
  background: #ef5123;
}
.boxes .box:first-child {
  background: #19adac;
}
