.navbar {
  background: #fff;
  border: none;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 70px;
  font-weight: 800;
  color: #ef5123;
  display: inline-block;
  float: none;
}
.navbar .tagline {
  font-family: 'din-condensed-web', sans-serif;
  color: #19adac;
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
}
.navbar .tagline span {
  white-space: nowrap;
  display: block;
}
.navbar .navbar-right {
  font-family: 'din-condensed-web', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}
.navbar .navbar-nav {
  margin-top: 17px;
}
.navbar .navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.navbar .navbar-nav > li a {
  color: #654738;
}
.bodycontain {
  margin-top: 120px;
}
.main {
  background: url('images/home-main-bg.jpg');
}
.thisyear {
  background-color: #fed389;
  color: ;
}
.saying {
  background: url('images/home-saying-bg.png');
  background-color: #19adac;
}
.tribe {
  display: none;
}
.donate {
  background-color: #ef5123;
}
