.navbar {
  background: #fff;
  border: none;
  position: fixed;
  top: 0;
  padding: 0 40px;

  .navbar-brand {
    &, &:hover {
      font-family: @brandon;
      font-size: 70px;
      font-weight: 800;
      color: @goatred;
      display: inline-block;
      float: none;
    }
  }
  .tagline {
    font-family: @din;
    color: @goatteal;
    font-size: 28px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;

    span {
      white-space: nowrap;
      display: block;
    }
  }

  .navbar-nav {
    font-family: @din;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 17px;

    > li {
      float: none;
      display: inline-block;
      vertical-align: middle;

      a {
        color: @goatbrown;
        border-bottom: 3px solid white;

        &:hover {
          color: @goatbrown;
          background: rgba(0,0,0,.03);
          border-bottom: 3px solid @goatbrown;
        }
      }
    }
  }
}