// colors
@goatred: #ef5123;
@goatteal: #19adac;
@goatbrown: #654738;

// fonts
@brandon: "brandon-grotesque", sans-serif;
@din: 'din-condensed-web', sans-serif;


// imports
@import '../bower_components/swiper/dist/idangerous.swiper.css';
@import 'nav.less';


.container-fluid {
  padding: 0;

  &.main {
    padding-top: 80px;
  }
}

.swiper-container {
  height: 530px;
  overflow: auto;
}

.swiper-slide {
  width: 100%;
  position: relative;

  h2 {
    text-align: center;
    line-height: 55px;
    padding-top: 150px;
    color: #fff;
    margin-bottom: 50px;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.boxes {
  width: 315px;
  float: right;

  .box {
    height: 315px;
    width: 100%;
    background: @goatred;

    &:first-child {
      background: @goatteal;
    }
  }
}